{% extends 'giaovu/giaovu_base.html' %}

{% block title %} Danh sách lớp học {% endblock %}

{% block content %}
    <div class="container">
        <h1 class="text-center text-success"> Thêm lớp học </h1>
        {% if err %}
        <div class="alert alert-danger">
            {{ err }}
        </div>
        {% endif %}
        <form method="post">
            <label class="required">Mã lớp</label>
            <input name="maLop" type="text" class="form-control">

            <label class="required">Tên lớp</label>
            <input name="tenLop" type="text" class="form-control">

            <label class="required">Khối</label>
            <select class="form-control" name="khoiLop_id">
                {% for k in khoi %}
                <option value="{{k.maKhoi}}">{{ k.tenKhoi }}</option>
                {% endfor %}
            </select>

            <label>Danh sách học sinh</label>
            <div class="row d-flex justify-content-center mt-100">
                <div class="col-md-6">
                    <select id="choices-multiple-remove-button" placeholder="Học sinh" multiple name="student_id">
                        {% for n in newSt %}
                        <option value={{n.id}}>{{n.id}}-{{n.hoTen}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <input type="submit" class="btn btn-primary" value="Lưu"/>
            <a class="btn btn-secondary" data-toggle="modal" href="#cancelModal">Hủy</a>
        </form>

        <div class="modal fade" id="cancelModal" tabindex="-1" role="dialog" aria-labelledby="cancelModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="cancelModalLabel">Hủy</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <input type="text" name="id" hidden/>
                        <p>Bạn có chắc chắn muốn hủy, các thay đổi sẽ không được lưu?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Không</button>
                        <a href="#" class="btn btn-primary">Có</a>
                    </div>
                </div>
            </div>
        </div>
        <script>
            $(document).ready(function(){
            var multipleCancelButton = new Choices('#choices-multiple-remove-button', {
            removeItemButton: true,
            maxItemCount:5,
            searchResultLimit:5,
            renderChoiceLimit:5
            });
            });
	    </script>
    </div>

{% endblock %}