{% extends 'giaovu/giaovu_base.html' %}

{% block title %} Danh sách học sinh {% endblock %}

{% block content %}
<h1 class="text-center text-success"> Danh sách học sinh </h1>
<div class="container">
	<table id="example" class="table table-striped table-bordered"
		style="width: 100%">
		<thead>
			<tr>
				<th>STT</th>
				<th>Họ và tên</th>
				<th>Giới tính</th>
				<th>Ngày sinh</th>
				<th>Địa chỉ</th>
				<th>Email</th>
				<th>Thao tác</th>
			</tr>
		</thead>
		<tbody>
			{% for s in students %}
			<tr class="odd gradeX">
				<td>{{s.id}}</td>
				<td>{{s.hoTen}}</td>
				<td>{{s.gioiTinh}}</td>
				<td>{{s.ngaySinh.strftime('%d-%m-%Y')}}</td>
				<td>{{s.diaChi}}</td>
				<td>{{s.email}}</td>
				<td>
					<a href="{{ url_for('add_or_update_Student', student_id=s.id) }}" class="center">Sửa</a> |
					<a href="{{ url_for('delete_student', student_id=s.id) }}" onclick="return confirm('Bạn có chắn chắn muốn xóa?')" class="center">Xóa</a>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	<script>
		$(document).ready(function() {
			var table = $('#example').DataTable({
				fixedHeader: true
			});
		});
	</script>
</div>
{% endblock %}